.team {
  display: grid;
  grid-template-columns: 1fr 24px 24px;
  column-gap: 4px;
  align-items: center;
}

.score {
  text-align: right;
}

.team.winner {
  font-weight: bold;
}

.bracket {
  border-collapse: separate;
  border-spacing: 60px 0;
}



body.light .team {
  color: #222222;
}

body.dark .team {
  color: #f0f2f6;
}

body.light .team.winner {
  color: #1f77b4;
  font-weight: bold;
}

body.dark .team.winner {
  color: #4da3ff;
  font-weight: bold;
}
